* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4864B1;
    --dark-blue: #113B90;
}

body {
    background-image: url(../bilder/undervann.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

h1 {
    text-align: center;
    background-color: var(--blue);
    padding: 10px 30px;
    width: 300px;
    margin: 100px auto 20px;
    border-radius: 30px;
    color: white;
    border: 3px solid black;
    font-family: Oswald;
}

h3 {
    text-align: center;
    background-color: var(--blue);
    color: white;
    width: 400px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    font-family: Oswald;
    font-size: 23px;
}

button {
    display: block;
    font-size: 40px;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    font-family: Oswald;
    background-color: var(--dark-blue);
    border: 3px solid black;
    font-weight: bolder;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
}